-NUMPY
http://www.lfd.uci.edu/~gohlke/pythonlibs/#numpy
numpy-1.13.3+mkl-cp35-cp35m-win_amd64.whl
 
-PANDAS
http://www.lfd.uci.edu/~gohlke/pythonlibs/#pandas
pandas-0.20.3-cp35-cp35m-win_amd64.whl

-SHAPELY
http://www.lfd.uci.edu/~gohlke/pythonlibs/#shapely
Shapely-1.6.1-cp35-cp35m-win_amd64.whl

-GDAL
http://www.lfd.uci.edu/~gohlke/pythonlibs/#gdal
GDAL-2.2.2-cp35-cp35m-win_amd64.whl

-FIONA
http://www.lfd.uci.edu/~gohlke/pythonlibs/#fiona
Fiona-1.7.9-cp35-cp35m-win_amd64.whl

-PYPROJ
http://www.lfd.uci.edu/~gohlke/pythonlibs/#pyproj
pyproj-1.9.5.1-cp35-cp35m-win_amd64.whl

-MATPLOTLIB
http://www.lfd.uci.edu/~gohlke/pythonlibs/#matplotlib
matplotlib-2.1.0-cp35-cp35m-win_amd64.whl

-BASEMAP
http://www.lfd.uci.edu/~gohlke/pythonlibs/#basemap
basemap-1.1.0-cp35-cp35m-win_amd64.whl
